.form-container{
    height:60%;
    width:35%;
    background-image: url("../../Assets/img/AddGoalFormbg.gif");
    background-size: cover;
    font-family: var(--font);
    border-radius: 10px;
    position: relative;
}
.user-form h3{
    margin: 15px 0px;
    text-align: center;
    color:var(--secondary-color);

}
@media screen and (max-width: 768px){
    .form-container{
        width:80%;
    }
}