.card-container{
    height:16rem;
    width:25%;
    position: relative;
    /* background-color: var(--primary-color); */
    background-color: #333;
    border-radius: 10px;
    /* border: 5px solid var(--secondary-color); */
    overflow: hidden;
    font-family: var(--font);
    padding:12px;
    z-index: 1000;
    cursor: pointer;
    border:2px solid #ededed5b;
    transition: 1s;
}

.card-container h2{
    font-size: 30px;
    text-align: center;
    color:#fff;
    padding:12px;
}

.card-container .progress-container .circular-progress{
    position: relative;
    height:150px;
    width:45%;
    background: conic-gradient(var(--secondary-color) 3.6deg,#ededed5b 0deg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container .progress-container .circular-progress::before{
    content: "";
    position: absolute;
    height:130px;
    width:86%;
    background-color: #333;
    border-radius: 50%;
}

.card-container .progress-container .circular-progress .progress-value{
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.card-container i{
    position: absolute;
    font-size: 50px;
    z-index: -1;
    color: #ededed5b;
    transition: .5s;
}

.card-container .fa-code{
    top:5rem;
    right:2rem;
}

.card-container .fa-diagram-project{
    top:7rem;
    right:9rem;
}

.card-container .fa-bug{
    top:1rem;
}

.card-container .fa-cube{
    top:10rem;
    right: 3rem;
}

.card-container .fa-terminal{
    top:12rem;
    right: 7rem;
}

.card-container:hover i{
    color: var(--secondary-color);
    
}

.card-container:hover{
    box-shadow: var(--secondary-color) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
