:root{
    --font:"Jersey 10", sans-serif;
    --primary-color: #292929;
    --secondary-color:#BB86FC;
    --glow-green:#40FF01;
    --white:#fff;
}

body{
    background-color: var(--primary-color);
}

::selection{
    color: var(--secondary-color);
}

@media screen and (max-width: 768px){
    
    body{
        overflow-x: scroll;
        overflow-y: scroll;
    }
    
}