:root{
    --font:"Jersey 10", sans-serif;
    --primary-color: #292929;
    --secondary-color:#BB86FC;
    --glow-green:#40FF01;
}

body{
    background-color: var(--primary-color);
    overflow-x: hidden;
}

::selection{
    color: var(--secondary-color);
}